<div id="<%= dom_id work %>">
  <p>
    <strong>Company:</strong>
    <%= work.company %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= work.role %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= work.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= work.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= work.end_date %>
  </p>

</div>
