<p style="color: green"><%= notice %></p>

<%= render @dev_resume %>

<div>
  <%= link_to "Edit this dev resume", edit_dev_resume_path(@dev_resume) %> |
  <%= link_to "Back to dev resumes", dev_resumes_path %>

  <%= button_to "Destroy this dev resume", @dev_resume, method: :delete %>
</div>
