<%= form_with(model: dev_home, local: true, class: "space-y-4") do |form| %>
  <div>
    <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :title, class: "mt-1 block w-full rounded-md border border-gray-300 bg-white shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div>
    <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
    <%= form.rich_text_area :description, class: "mt-1 block w-full" %>
  </div>

  <div>
    <%= form.label :technology_ids, "Technologies", class: "block text-sm font-medium text-gray-700" %>
    <%= form.collection_select :technology_ids, Technology.all, :id, :name,
                               { prompt: "Select technologies" },
                               id: "technology_ids",
                               multiple: true,
                               data: { controller: "select" }
                                %>
  </div>

  <div>
    <%= form.label :client_ids, "Clients", class: "block text-sm font-medium text-gray-700" %>
    <%= form.collection_select :client_ids, Client.all, :id, :name,
                               { prompt: "Select clients" },
                               id: "client_ids",
                               multiple: true,
                               data: { controller: "select" }
                                %>
  </div>

  <div>
    <%= form.label :dev_project_ids, "Projects", class: "block text-sm font-medium text-gray-700" %>
    <%= form.collection_select :dev_project_ids, DevProject.all, :id, :title,
                               { prompt: "Select projects" },
                               id: "dev_project_ids",
                               multiple: true,
                               data: { controller: "select" }
                                %>
  </div>

  <div>
    <%= form.submit class: "bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700" %>
  </div>
<% end %>