<p style="color: green"><%= notice %></p>

<%= render @dev_home %>

<div>
  <%= link_to "Edit this dev home", edit_dev_home_path(@dev_home) %> |
  <%= link_to "Back to dev homes", dev_home_path %>

  <%= button_to "Destroy this dev home", @dev_home, method: :delete %>
</div>
