<p style="color: green"><%= notice %></p>

<%= render @dev_project %>

<div>
  <%= link_to "Edit this dev project", edit_dev_project_path(@dev_project) %> |
  <%= link_to "Back to dev projects", dev_projects_path %>

  <%= button_to "Destroy this dev project", @dev_project, method: :delete %>
</div>
